<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="lib/normalize/normalize.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/jsmodal-light.css">
    <link rel="stylesheet" href="css/pastemath.css">
    <title>PasteMath</title>
  </head>
  <body ng-app="pastemath">
    <div ng-controller="PasteMathController" class="container">
      <div class="header-left">
        <a ng-click="openShareDialog()">Share</a>
      </div>
      <div class="header-right">
       <a ng-bind="getModeText()" ng-click="toggleMode()"></a>
      </div>
      <div class="main-content">
        <div class="block-title">
          <span ng-bind="formulaName" ng-show="isView()"></span>
          <input type="text" class="title-edit" ng-model="formulaName" ng-show="isEdit()"></input>
        </div>
        <div class="block-expression">
          <div id="pretty">$$$$</div>
          <input type="text" class="expr-edit" ng-model="expr" ng-show="isEdit()"/>
          <div ng-bind="instructionText" class="instruction"></div>
        </div>
        <div class="block-parameter" ng-repeat="param in params">
          <div class="variable">
            <span ng-bind="param.name" ng-show="isView()"></span>
            <input type="text" class="var-edit" ng-keyup="refreshEvalValue()" ng-model="param.name" ng-show="isEdit()"></input>
          </div>
          <input class="value-input" ng-keyup="refreshEvalValue()" ng-click="updateInstr()" type="number" ng-model="param.val"/>
          <div class="description">
            <span ng-bind="param.desc" ng-show="isView()"></span>
            <input type="text" class="desc-edit" ng-model="param.desc" ng-show="isEdit()"></input>
            <div class="action-box" ng-show="isEdit()">
              <a ng-click="removeParam($index)"><i class="fa fa-times button-delete"></i></a>
              <a ng-click="addParam()" ng-show="$last"><i class="fa fa-plus button-add"></i></a>
            </div>
          </div>
        </div>
        <div class="block-result">
          <div class="variable">
            <span ng-bind="result.name" ng-show="isView()"></span>
            <input type="text" class="var-edit" ng-model="param.name" ng-show="isEdit()"></input>
          </div>
          <div class="value">
            <span ng-bind="result.val"></span>
          </div>
          <div class="description">
            <span ng-bind="result.desc" ng-show="isView()"></span>
            <input type="text" class="desc-edit" ng-model="result.desc" ng-show="isEdit()"></input>
          </div>
        </div>
      </div>
      <div class="copy"><a href="http://pastemath.varokas.com">PasteMath</a> by <a href="http://www.varokas.com">varokas.com, 2014</a></div>
    </div>

    <script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/mathjs/math.min.js"></script>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        messageStyle: "none"
      });
    </script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML.js"></script>
    <script type="text/javascript">
      MathJax.Hub.Config({ showProcessingMessages: false });
    </script>
    <script type="text/javascript" src="js/jsmodal-1.0d.min.js"></script>
    <script type="text/javascript" src="js/pastemath.js"></script>
  </body>
</html>
