@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

a {
  color: #428bca;
  text-decoration: none;
}

a:visited {

}

a:hover {
  cursor: pointer;
  cursor: hand;
}

body {
  background-color: rgb(247, 247, 247);
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 50%;
}

.header-left {
  float: left;
  width: 50%;
}

.header-right {
  float: left;
  width: 50%;
  text-align: right;
}

.main-content {
  clear:left;
  border: 1px solid #ccc;
  background-color: #ffffff;
}

.block-title {
  text-align: center;
  border-bottom: 1px solid #ccc;
  background-color: #d9edf7;
  font-weight: bold;
  font-size: 1.3em;
  padding: 0.5em;
}

.title-edit {
  width: 90%;
}

.block-expression {
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.expr-edit {
  width: 90%;
}


.block-parameter {
  overflow: auto;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.block-result {
  overflow: auto;
  width: 100%;
  background-color:#dff0d8;
}


.variable {
  padding: 0.5em;
  text-align: center;
  width: 3em;
  float: left;
  border-right: 1px solid #ccc;
}

.var-edit {
  width: 90%;
  height: 1em;
}

.value {
  padding: 0.5em;
  width: 5em;
  float: left;
  border-right: 1px solid #ccc;
}

.value-input {
  padding: 0.5em;
  width: 2em;
  border: 0;
  width: 5em;
  float: left;
  border-right: 1px solid #ccc;
  display: block;
  background-color: #fcf8e3;
}

.value-input:focus {
  outline: none;
}

.description {
  padding: 0.5em 0.5em 0.5em 10.5em;
}

.desc-edit {
  width: 50%;
  height: 1em;
}

.action-box {
  float:right;
  width: 3em;
}

#pretty {
  font-size: 1.3em;
}

.instruction {
  color: #999999;
  font-size: 0.7em;
  text-align: left;
  height: 2em;
}

.button-delete {
  color: #a94442;
}

.button-add {
  color: #3c763d;
}

.copy {
  margin-top: 0.2em;
  color: #999999;
  font-size: 0.8em;
}
